# ignore chache changes
__pycache__
.idea
*.pyc

speed_tests

# Ignore ide configs
*.iws
workspace.xml
tasks.xml



FRET_backend/numba_getBurstAll.py
FRET_backend/GetBurstAllMultiprocessing.py
remove_test_files.py

Test_Data/*
Test_Data