# ignore chache changes
__pycache__
.idea
*.pyc

speed_tests

# Ignore ide configs
*.iws
workspace.xml
tasks.xml

speed_tests

FRET_backend/numba_getBurstAll.py
FRET_backend/get_burst_all_loop_optimized.py
